* {
  /*border: 1px solid red;*/
  box-sizing: border-box;
}

html, body {
  background-color: rgb(55, 64, 70);
}

.wrapper {
  margin: auto;
  width: 95%;
}

/*
NAV BAR
*/

#navbar md-icon {
  margin-right: 5px;
}

.md-toolbar-tools {
  margin: auto;
  width: 95%;
  font-size: 24px;
}

.md-toolbar-tools h2 {
  font-size: 1.5em;
  font-weight: bold;
}

/*
SIDEBAR
*/

.sidebar-row {
  display: flex;
  height: 450px;
}

.sidebar-col {
  height: 450px;
  width: 50%;
}

.sidebar-row-small {
  width: 100%;
  height: 225px;
}

.widget-container {
  padding: 7.5px;
}

.widget {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/*
PROFILE WIDGET
*/

#profile-widget {
  text-align: center;
  padding: 10px;
}

.profile-img {
    height: 125px;
    width: 125px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    margin: 0 auto;
    margin-bottom: 20px;
}

#profile-widget p {
  margin-top: 10px;
  margin-bottom: 0;
}



/*
GOALS WIDGET
*/

#goals-widget {
  padding: 10px;
  text-align: center;
}

.bar-back {
  background-color: rgba(0, 0, 0, .15);
  width: 90%;
  height: 40px;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}

.bar-front {
  background-color: rgb(41,98,255);
  color: white;
  font-weight: bold;
  padding-left: 20px;
  width: 40%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

/*
TASKS WIDGET
*/

#tasks-widget {
  text-align: center;
  padding: 10px;
}

#tasks-widget ul {
  text-align: left;
}

#tasks-widget md-checkbox {
  display: block;
}

/*
NEWS WIDGET
*/

#news-widget .news-settings {
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 50%;
  display: none;
}

#news-widget .news-img-container {
  min-height: 125px;
  max-height: 125px;
  background-image: cover;
  background-position: center;
  background-size: 100%;
}

#news-widget md-content {
  height: 255px;
  background-color: white;
  padding: 16px;
}

#news-widget span {
  text-align: center;
}

#news-widget md-footer {
  max-height: 40px;
  text-align: center;
}

#news-widget button {
  margin: 0;
}

/*
DASHBOARD
*/

.job-img {
  background-position: center;
  background-size: cover;
}

.contact-divider {
  padding: 16px;
}

.contact-options {
  position: relative;
  top: -33px;
  text-align: right;
}

.contact-info {
  margin: 5px 0;
  font-size: 0.8em;
}

.contact-info md-icon {
  margin-right: 10px;
}
