* {
  /*border: 1px solid red;*/
  box-sizing: border-box;
}

html, body {
  background-color: rgb(55, 64, 70);
}

.wrapper {
  margin: auto;
  width: 90%;
}

/*
SIDEBAR
*/

.sidebar-row {
  display: flex;
  height: 450px;
}

.sidebar-col {
  height: 450px;
  width: 50%;
}

.sidebar-row-small {

  width: 100%;
  height: 225px;
}

/*
DASHBOARD
*/

.job-img {
  background-position: center;
  background-size: cover;
}

.contact-divider {
  padding: 16px;
}

.contact-options {
  position: relative;
  top: -33px;
  text-align: right;
}

.contact-info {
  margin: 5px 0;
  font-size: 0.8em;
}

.contact-info md-icon {
  margin-right: 10px;
}
