* {
  /*border: 1px solid red;*/
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;

  background-color: rgb(55, 64, 70);
}

.wrapper {
  width: 100%;
  margin:0;
  padding:0;
}

/*
LANDING
*/

.landingBackground {
    width:100%;
    height:90vh;

    background-image: url('./assets/pexels-photo-300001.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    filter:sepia(75%) brightness(20%);
  }

  .landingCard {
    width: 400px;
  }

  .landingContainer {
    position: absolute;
    z-index: 1;

    width:100%;
    height:90vh;
    margin:auto;
  }

/*
NAV BAR
*/

#navbar md-icon {
  margin-right: 5px;
}

.md-toolbar-tools {
  width: 95%;
  margin: auto;

  font-size: 24px;
}

.md-toolbar-tools h2 {
  font-size: 1.5em;
  font-weight: bold;
}

/*
SIDEBAR
*/

.sidebar-row {
  display: flex;

  height: 450px;
}

.sidebar-col {
  width: 50%;
  height: 450px;
}

.sidebar-row-small {
  width: 100%;
  height: 225px;
}

.widget-container {
  padding: 7.5px;
}

.widget {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
WIDGETS
*/

.settings-btn {
  position: absolute;
}

/*
PROFILE WIDGET
*/

#profile-widget {
  padding: 16px;

  text-align: center;
}

.profile-img {
    width: 125px;
    height: 125px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 20px;

    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);

    object-fit: cover;
}

#profile-widget p {
  margin-top: 10px;
  margin-bottom: 0;
}

#profile-add-job {
  height: 40px;
  margin-top: 25px;

  text-align: center;

  color: white;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: rgba(0,150,136, 0.8);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);

  font-weight: bold;
}


#profile-add-job:hover {
  background-color: rgba(0,150,136, 1);
}

#profile-add-job md-icon {
  float: left;

  margin-left: 10px;
}

/*
GOALS WIDGET
*/

#goals-widget {
  position: relative;

  padding: 10px;

  text-align: center;
}

#goals-widget md-menu {
  position: relative;
}

#goals-widget-settings {
  position: absolute;
  top: 0;
  left: 0;
}


.progress-bar-back {
  width: 90%;
  height: 40px;
  margin: auto;

  border-radius: 20px;
  background-color: rgba(0, 0, 0, .15);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}

.progress-bar-front {
  display: flex;

  width: 40%;
  height: 100%;
  padding-left: 20px;

  color: white;
  border-radius: 20px;
  background-color: rgb(41,98,255);

  font-weight: bold;

  align-items: center;
}

/*
TASKS WIDGET
*/

#tasks-widget {
  padding: 10px;

  text-align: center;
}

#tasks-widget .input-container {
  display: flex;

  margin-top: 16px;
  margin-bottom: 40px;
}

#tasks-widget input {
  width: 75%;
  height: 36px;
  margin: auto;

  text-align: center;

  border: none;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}

#tasks-widget md-content {
  border-top: 1px solid lightgray;
  background-color: white;
}

#tasks-widget ul {
  text-align: left;
}

#tasks-widget .task-container {
  display: flex;

  align-items: top;
}

#tasks-widget li {
  list-style: none;
}

#tasks-widget md-checkbox {
  display: block;
}

/*
NEWS WIDGET
*/

#news-widget .news-settings {
  position: relative;

  display: none;
  float: right;

  margin-top: 10px;
  margin-right: 10px;

  border-radius: 50%;
}

#news-widget .news-img-container {
  min-height: 125px;
  max-height: 125px;

  background-image: cover;
  background-position: center;
  background-size: 100%;
}

#news-widget md-content {
  height: 255px;
  padding: 16px;

  background-color: white;
}

#news-widget span {
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
}

#news-widget md-footer {
  max-height: 40px;
  text-align: center;
}

#news-widget button {
  margin: 0;
  min-height: 20px;
  min-width: 40px;
}

#news-widget p {
  font-size: 10pt;
}

#news-widget div {
  margin: 0;
  font-size: 9pt;
}

.md-calendar-date:not(.md-disabled) {
  font-weight: bold;
}

.md-calendar-date.md-calendar-date-disabled {
  font-size: 8pt;
  background-color: lightgrey;
}

/*
DASHBOARD
*/

.job-widget-image {
  background-position: center;
  background-size: cover;
}

.contact-divider {
  position: relative;

  padding: 16px;
}

.contact-info {
  margin: 5px 0;
}

.contact-info md-icon {
  margin-right: 10px;
}
