<div class="landingContainer" layout="row" layout-align="center center">

  <div flex='60' layout="column" layout-align="center start" ng-show="!getStarted">
    <div flex='100' class="md-display-3" style="color:white; 5px 5px #FFF;"> LinkedList</div>
    <br>
    <div flex='100' class="md-title" style="color:white; 5px 5px #FFF;"> 
    Organize, manage, and plan your entire job application process with our slick dashboard and easy-to-use job creation form. </div>
    <br>
    <md-button flex='100' ng-click="toggleGetStarted()" class="md-primary" style="background-color: rgb(0,150,136);color: white;"> GET STARTED </md-button>
  </div>

  <md-card class="landingCard" ng-show="getStarted">
    <md-card-content layout-padding>
      <div layout="column" ng-cloak class="md-inline-form">
        <div ng-show="showSignUp" layout="row" layout-align="center" class="md-title">
          <h2 flex='80'>Sign up for your free account!</h2>
        </div> 
        <div ng-show="!showSignUp" layout="row" layout-align="center" class="md-title">
          <h2 flex='80'>Please Sign in</h2>
        </div> 
        <form name="jobForm" ng-submit="authenticateUser(user)">
          <div layout="row" layout-align="center">
            <md-input-container flex='80'>
              <label>User Name</label>
              <input ng-model="user.username" ng-required="true">
            </md-input-container>
          </div>
          <div layout="row" layout-align="center">
            <md-input-container flex='80'>
              <label>Password</label>
              <input ng-model="user.password" ng-required="true">
            </md-input-container>
          </div>
          <div ng-show="showSignUp" layout="row" layout-align="center top">
            <md-button type="submit" class="md-primary">Sign Up</md-button>
          </div>
          <div ng-show="!showSignUp" layout="row" layout-align="center top">
            <md-button type="submit" class="md-primary">Sign In</md-button>
          </div>
        </form>
        <div layout="row" layout-align="center top">
          <md-button ng-click="toggleAuth()" class="md-primary">Already have an account?</md-button>
        </div>
      </div>
    </md-card-content>
  </md-card>

</div>

<div class="landingBackground"> </div>