<div layout="column" ng-cloak class="md-inline-form">
  <h2>Input Application Data</h2>

  <md-content layout-padding>
    <form name="jobForm" ng-submit="submitJob()">
      <div layout="row">

        <md-input-container class="md-block" flex-gt-sm="25">
          <label>App Date</label>
          <md-datepicker ng-model="job.appDate"></md-datepicker>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Company Name</label>
          <md-icon class="material-icons">business</md-icon>
          <input ng-model="job.companyName">
        </md-input-container>

      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Position Title</label>
          <input ng-model="job.position">
        </md-input-container>

        <md-input-container class="md-block md-icon-float" flex-gt-sm>
          <label>Salary</label>
          <md-icon class="material-icons">attach_money</md-icon>
          <input ng-model="job.salary">
        </md-input-container>
      </div>
      <div layout-gt-sm="row" layout-padding>
        <md-input-container class="md-icon-float md-block" flex-gt-sm>
          <label>Primary Contact Name</label>
          <md-icon class="material-icons">contacts</md-icon>
          <input ng-model="job.contact.name">
        </md-input-container>

        <md-input-container class="md-icon-float md-block" flex-gt-sm>
          <label>Contact Phone</label>
          <md-icon class="material-icons">call</md-icon>
          <input ng-model="job.contact.phone">
        </md-input-container>

        <md-input-container class="md-icon-float md-block" flex-gt-sm>
          <label>Contact E-mail</label>
          <md-icon class="material-icons">email</md-icon>
          <input ng-model="job.contact.email" type='email'>
        </md-input-container>
      </div>
      <div layout-gt-sm="row" layout-padding>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Current Application Status</label>
          <input ng-model="job.currentStatus">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Next Step</label>
          <input ng-model="job.nextStep.name">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Next Step Comments</label>
          <input ng-model="job.nextStep.comments">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Next Step Date</label>
          <md-datepicker ng-model="job.nextStep.date"></md-datepicker>
        </md-input-container>
      </div>
      <md-input-container class="md-block">
        <label>Additional Information</label>
        <textarea ng-model="job.comments" md-maxlength="150" rows="4" md-select-on-focus></textarea>
      </md-input-container>
      <md-button type="submit" class="md-primary">Input Application</md-button>
    </form>
  </md-content>
</div>